.plan-page {
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1cfcf;
  padding: 0rem 10rem;

  .header-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2px 10px;
    border-radius: 6px;

    .back-icon {
      cursor: pointer;
    }

    .back-text {
      font-weight: 600;
      cursor: pointer;
    }
  }

  .header-right {
    display: flex;
    gap: 1rem;

    .icon-btn {
      cursor: pointer;
      border-radius: 4px;
      padding: 2px 4px;
    }
  }
}

.plan-content {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 1.5rem;
  padding: 1rem 10rem;
  background-color: oklch(.985 .002 247.839);
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.plan-card {
  padding: 1rem;
  border: 1px solid #d1cfcf;
  background-color: white;
  border-radius: 10px;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .info-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.25rem 0;
    color: #555;
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .tag {
      background: #f1f1f1;
      padding: 0.3rem 0.7rem;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  .host-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    .profile-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }

  .attendee-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .attendees-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0.3rem 0;
      cursor: pointer;
    }

    .role {
      font-size: 0.8rem;
      color: gray;
      border: 1px solid #d1cfcf;
      padding: 2px 6px;
      border-radius: 6px;
}
    }

    .dotted-icon {
      color: #bbb;
      margin-right: 6px;
      margin-bottom: 6px;
    }
  }

  .detail-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;

    .detail-value {
      font-weight: 500;
    }
  }

  .similar-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;

    p {
      margin: 0;
      font-weight: 500;
    }

    span {
      font-size: 0.85rem;
      color: #777;
    }
  }


.gradient-btn {
  background:linear-gradient(to right, #1fe753, #059b0a);
  color: #fff !important;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.full-btn {
  width: 100%;
  cursor: pointer;
}

  .header-left:hover {
    background: linear-gradient(to right, #1fe753, #059b0a);
    color: white;
  }

    .name-profile-circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #9333ea;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 4px;
      margin-bottom: 6px;
      color: white;
    }

    .spots-left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .host-info h5{
        margin-bottom: 0;
    }
    .host-info h4{
        margin-bottom: 0;
    }
    .host-info p{
        margin-top: 4px;
    }
    .chip-style{
        border: 1px solid #d1cfcf;
        padding: 2px 6px;
        border-radius: 6px;
    }
    .status{
      display: flex;
      gap: 10px;
    }
    .openStatus{
        background-color: #2563eb;
        color: white;
    }
    .deleteStatus{
        background-color: #cb092d;
        color: white;
        cursor: pointer;
    }
 .plan-description{
    margin-top: -25px;
 }


    .bg-image img{
      width: 100%;
      height: 15rem;
      border-radius: 10px;
    }

.plan-about{
  margin: 1rem 0;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: #777;
}

.plan-card-content{
  display: flex;
  flex-direction: row;
  gap: 2%;

  .plan-card{
    width: 48%;
  }
}

.inclusion-title{
  display: flex;
  align-items: center;
  color: #059b0a;
  gap: 10px;
  margin-bottom: 2rem;
  font-size: 20px;

  i{
    font-size: 22px;
    color: #059b0a;
  }
}

.inclusions{
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  
  i{
    color: #059b0a;
  }
}
.exclusion-title{
  display: flex;
  align-items: center;
  color: rgb(235 28 28);
  gap: 10px;
  margin-bottom: 2rem;
  font-size: 20px;
  i{
    font-size: 22px;
    color: rgb(235 28 28);
  }
}

.exclusions{
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  
  i{
    color:rgb(235 28 28);
  }
}

.book-now-card{
  gap: 1rem;
  .row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cost{
      display: flex;
      flex-direction: column;
      .amount{
        font-size: 22px;
        font-weight: bolder;
        color:#059b0a;
      }
    }
    .slots{
      display: flex;
      flex-direction: column;
      .slots-left{
        font-size: 12px;
        color: #025802;
        background-color: #b2f1b2;
        padding: 2px 6px;
        border-radius: 6px;
      }
    }
  }
  .row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .duration{
      display: flex;
      flex-direction: column;
    }
    .tripDate{
      display: flex;
      flex-direction: column;
      margin-right: 20%;
    }
  }
  .row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .slots-available{
      display: flex;
      flex-direction: column;
    }
    .deposit{
      display: flex;
      flex-direction: column;
      margin-right: 26%;
    }
  }
  .disclaimer{
    color: #787575;
    font-size: 12px;
    margin: 0px 1rem;
    text-align: center;
  }
}

.plan-itinerary{
  margin: 0px 6px 12px 6px;
  color: #555;
}
.itinerary-section{
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
    h4{
      margin-bottom: 8px;
      display: flex;
    gap: 8px;
    align-items: center;
    }
    ul{
      display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    }
    .itinerary-content{
      padding: 1rem;
      background-color:oklch(.985 .002 247.839) ;
    }
    .host-info{
      padding-left: 10px;
    }
    .arrow-icon{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: oklch(.627 .194 149.214);
    }

    .meals span{
    background-color: #c1edc1;
    padding: 2px 6px;
    border-radius: 4px;
    color: #025002;
    }
}
.hidden{
  display: none;
}

.displayed{
  display: block;
}
 //MEDIA QUERIES

@media (max-width: 480px) {
    .plan-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    }

    .plan-header{
      padding: 1rem 1rem;
      gap: 6rem;
    }

    .plan-content{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 90%;
    }
  }