/* ===== GLOBAL COLORS ===== */
.bg-gradient-to-r {
  background-image: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #2563eb, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Gradient Background */
.bg-gradient {
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
  padding: 1rem 6rem;
  border-radius: 12px;
}

.bg-gradient-custom{
    background: linear-gradient(to right, #2563eb, #9333ea);
    color: white;
    border-radius: 12px;
    padding: 1rem 2rem;
}

/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  box-shadow: 0px 0px 3px oklch(60.977% 0.03739 259.421);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logo-icon {
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.search-bar {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 80%;
  padding-left: 40px;
}

.search-bar2 {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 90%;
  padding-left: 40px;
}

.header-right{
    display: flex;
    gap: 30px;
}

.search-filter-bar{
    padding: 1rem 6rem;
    display: flex;
}
.search-wrapper {
  position: relative;
  width: 100%;
}
.search-wrapper2 {
  position: relative;
  width: 100%;
}

.search-wrapper i {
  position: absolute;
  left: 10px; /* space from left */
  top: 50%;
  transform: translateY(-50%);
  color: #888; /* icon color */
  pointer-events: none; /* so clicks go to input */
}

.search-wrapper2 i {
  position: absolute;
  left: 10px; /* space from left */
  top: 33%;
  transform: translateY(-50%);
  color: #888; /* icon color */
  pointer-events: none; /* so clicks go to input */
}

/* Buttons */
.btn-gradient {
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.welcome-section{
    margin: 1rem 6rem;
}

.welcome-buttons{
    padding: 1rem 6rem;
    display: flex;
    gap: 30px;
}

.btn-outline-custom {
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.btn-outline-custom:hover{
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
}

.btn-outline {
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.btn-outline:hover{
    background-color: #baadc7;
}


.icon-btn{
    outline: none;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Toggle Navigation */
.toggle-nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem 6rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.toggle-nav button {
  background: none;
  border: none;
  font-weight: bold;
  padding: 8px 0px;
  width: 33%;
  cursor: pointer;
}

.toggle-nav button.active {
    color: white;
    background: linear-gradient(to right, #2563eb, #9333ea);
    border-radius: 6px;
    width: 33%;
}

/* Cards */
.plan-card,
.spot-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin: 10px 0;
  width: 28%;
  color: oklch(.446 .03 256.802);
  transition: transform 0.2s ease;
}
.plan-card:hover,
.spot-card:hover {
  animation: shake 0.4s ease-in-out;
}
@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-3px); }
  50%  { transform: translateX(3px); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

.plan-card h3,
.spot-card h3{
  color: black;
}

.plan-card p,
.spot-card p{
  display: flex;
  gap: 10px;
}

.plan-header,
.spot-header{
  display: flex;
  justify-content: space-between;
}
.plan-header h3,
.spot-header h3{
  margin: 0;
}

.tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.tag {
  background: #f1f1f1;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
}

/* Map Coming Section */
.map-coming {
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin: 10px 0;
}
.for-you-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin: 10px 0;
}
.for-you-description button{
    width: 100%;
    border: 1px solid #2563eb;
    color: #2563eb;
    background-color: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.for-you-description button:hover{
  color: white;
  background: linear-gradient(to right, #2563eb, #9333ea);
}

.map-coming .faded {
  opacity: 0.3;
}
.content-section{
    padding: 1rem 6rem;
    margin-top: -2rem;
}

.host{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.host-name{
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.host-name span{
  padding: 4px 8px;
  border-radius: 50%;
}
.plan-actions > button{
  width: 100%;
}
.joined-actions{
  display: flex;
  justify-content: space-between;
}

.joined-actions .btn-outline-custom{
  width: 65%;
}
.joined-actions .btn-gradient{
  width: 30%;
}
.spot-card .btn-gradient{
  width: 100%;
}
.active-content-section{
  display: flex;
  gap: 1.5%;
  flex-wrap: wrap;
}
.active-content-section-for-you{
  display: flex;
  flex-direction: column;
}
.active-content-section-for-you h4{
  margin-bottom: 10px;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
    gap: 10px;
  }
  .search-filter-bar {
    flex-direction: column;
  }
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}

::ng-deep .mat-mdc-form-field-infix{
    margin-top: -16px;
    margin-bottom: -10px;
}
::ng-deep .mat-mdc-select{
    font-size: 12px;
    padding-bottom: 6px;
}
::ng-deep .mdc-line-ripple{
    display: none;
}
::ng-deep .mat-mdc-select-arrow-wrapper {
    margin-bottom: -16px;
}
::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    display: none;
}

    .interests {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 1rem;
      margin: 1rem 0rem 1rem 0rem;
      border: 1px solid #d1cfcf;
      padding: 1rem;
      border-radius: 10px;

      &.error-border {
        border: 1px solid red;
        padding: 0.5rem;
        border-radius: 4px;
      }

      .interest-checkbox {
        flex: 1 1 20%;
        display: flex;
        align-items: center;
        font-size: 0.9rem;

        input {
          margin-right: 0.5rem;
          cursor: pointer;
        }
      }
    }

    .After_Edit_btns button{
      width: 48%;
    }
    .After_Edit_btns {
      display: flex;
      justify-content: space-between;
    }

    .plan-card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .fa-users{
      color: #9333ea;
    }

    .plan-header .tag{
      color: white;
      background: linear-gradient(to right, #1058e7, #d3b1f1);
    }